/*负责初始化样式*/

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
  /* 全局鼠标样式 */
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8px' height='8px'><circle cx='4' cy='4' r='4' opacity='.5'/></svg>") 4 4, auto !important;
}

/* pre代码块背景变黑 */
.code-block{
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px;
}